html {
    background-color: #303030;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, h1 a {
    color: #DDDDDD;
}

a {
    color: #70AAFF
}

h1 a {
    text-decoration: none;
}

.accent {
    background-color: #505050;
}

.track-length {
    color: lightsalmon;
}