<!DOCTYPE html>
<html lang="en">
<head>
    {% if scripts %}
        {% for script in scripts %}
            <script src="{{ script }}" defer></script>
        {% endfor %}
    {% endif %}
    <script src="/index.js" defer></script>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="logo"><a href="/">Prog Reviews</a></div>
            <ul class="links">
                <li>Music</li> <!-- Will eventually be a dropdown with albums as an option -->
                <li>Genres</li>
                <li>About</li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
        <div class="info">
            <div class="sections">
                {% block content %}{% endblock %}
            </div>
            <div class="sidebar">
                <div class="recent-activity section">
                    <h3>Recent Activity</h3>
                    <p>Here would be a list of recent activity by the site's users</p>
                </div>
                <div class="genres section">
                    <h3>Genres</h3>
                    <ul>
                        {% for genre in genres %}
                            <li>{{ genre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>